body, html {
    height: 100%;
    margin: 0;
    font-family: 'Courier New', monospace;
    background-color: black;
  }
  
  .terminal {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    color: lime;
    font-size: 1.2rem;
  }
  
  .content-wrapper {
    display: flex;
    align-items: baseline;
  }
  
  .cursor {
    content: "";
    width: 0.8ch;
    height: 1.2em;
    background-color: lime;
    display: inline-block;
    animation: cursor-blink 1s steps(2) infinite;
  }
  
  a {
    color: lime;
    text-decoration: underline;
  }
  
  @keyframes cursor-blink {
    0% {
      opacity: 0;
    }
  }
  
